.container{
    display: flex;
    flex-direction: row;
    margin : 20px 35px;
    flex-wrap: wrap;
}

.cards-layout{
    width: 700px ;
    margin: 20px 10px;
    height: 0%;
}

.posts{
    margin: 5px 20px;
}

.card-header{
    display: flex;
    align-items: center;
}

.img{
    border-radius: 50%;
    height: 80px;
    width: 45px;
}

.media{
   display: flex;
   justify-content: center;
}

hr{
    margin-top: 10px;
}

.hastag{
    color: lightskyblue;
    display: flex;
    flex-direction: row;
}

.likes{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0px 0px 0px;
}

.comments{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.control{
    width: 900px;
}

.dispNone{
    display: none;
}

.dispBlock{
    display: block;
}

.comments-section{
    display: flex;
    flex-direction: column;
}
