.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    width: 30%;
    margin-top: 40px;
}

.content{
   margin :20px 40px;
}

.input{
    display: flex;
    flex-direction: column;
}

.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}

.red {
    color: red;   
}

