.profile-container{
    margin: 10px 100px;
}

.profile-header{
    margin: 5px 100px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-image{
    margin-right: 50px;
}

.profile-header-content1{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.profile-header-content2{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.profile-header-content3{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.body-content{
    margin: 20px 10px;
}

.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}

.red {
    color: red;   
}

.post-modal-container{
    display: flex;
    flex-direction: row;
}

.post-modal-avatar-img{
    border-radius: 50%;
    height: 80px;
    width: 45px;
}

.post-modal-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.post-modal-hastag{
    color: lightskyblue;
    display: flex;
    flex-direction: row;
}

.post-modal-likes{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 150px 0px 0px 0px;
}

.post-modal-comments-section{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.post-modal-comments{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-modal-control{
    width: 270px;
}